#app_root {
  display: flex;
  flex-direction: column;
  background-color: aqua;
}

header {
  text-align: center;
  border: 3px dotted black;
}

main {
  min-height: 800px;
}

footer {
  text-align: center;
  background-color: red;
}

.title_container {
  border: 3px solid black;
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5%;
}

.inventory-container {
  text-align: center;
  border: 3px solid black;
  margin-top: 5%;
  padding-bottom: 5%;
}

.inventory-list {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.inventory_item {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.item_title {
  height: 50px;
}

.item_actions {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.details_panel {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  margin-top: 2.5%;
}

.details_panel h2 {
  margin: 0 auto;
  text-align: center;
}